---
---

@import "{{ site.theme }}";

header {
    background: #62b3b2;
}

header p, header h1 {
    //font-family: Arial;
    color: white;
}

#banner {
    background: #add4e7;
    border: none;
}

#banner .fork {
    background: #f7915d;
    background: #62b3b2;
    color: white;
    border: none;
}

body {
    background: #689aca;
    //font-family: 'Inconsolata', ;
    //color: $iron;
    //background-color: $dorian;
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-family: 'proxima-nova',sans-serif;
    font-family: 'Open Sans', sans-serif;    
}

